
.notes{
    padding: 20px 0 30px 0;
    overflow-x: auto;
    height: 100vh;
    flex: 6;
    display: flex;
    column-gap: 40px;
}

.notes::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

.notes::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 5px;
}

.segment_container{
    max-width: 350px;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
}

.segment_container .cardContainer:last-child {
    margin-bottom: 50px;
}

.segment_title{
    text-align: center;
    margin: 0 0;
}
