.home_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    column-gap: 20px;
}

.sidebar{
    display: flex;
    flex: 2;
    height: calc(100vh + 60px);
    border-right: 1px solid rgb(179, 179, 179);
    background-color: rgb(240, 240, 240);
}

